- add_body_class "groups"
.blink.live
  Real! Live!

.container
  %h1 http://bit.ly/sbcHack-rides
  - @groups.each_with_index do |group, j|
    .group{class: "group#{j}"}
      .users
        - group.users.each_with_index do |u, i|
          .user{class: "user#{i}"}
            .image
              = image_tag "profile/#{u.profile_image}"
            .name= u.name

      .details
        #{group.description}

